*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}






/*-------------- header */
header {

}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .sub-nav {
  width: 50vw;
}
